*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    padding: 20px;
    margin-top: 150px;
  }

 #main #dv-lap{
    /* justify-content: auto;
    align-items: auto; */
    height: auto;
    background-color: #f1f1f1;
    border-radius: 8px;
    margin-top: 10px;
    padding: 18px;
    overflow: auto;
  }
 #main h1{
    color: #fea628;
    text-align: center;
    font-size: 24px;
    padding-bottom: 4px;
    margin-bottom: 10px;
}

#main img{
    border: 1px solid black;
    display: block;
    margin: 0 auto;
    width: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#main p{
  text-align: left;
  font-size: 18px;
  margin-left: 26px;
  margin-bottom: 12px;
  margin-top: 12px;
}

.nd-a,
.nd-b{
  text-align: left;
  margin-left: 12px;
  font-size: 22px;
}
